<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<title>The Victoria Blake Collection</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/navigation.css" rel="stylesheet" type="text/css"> 
	<link href="../css/contact_form.css" rel="stylesheet" type="text/css">
    <link href="../css/form.css" rel="stylesheet" type="text/css">

     <link href="../css/tooltipster.css" rel="stylesheet" type="text/css">


	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->


	<!---<script src="../js/simpleCart.js" type="text/javascript" charset="utf-8"></script>-->
	

	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>
    <script src="../js/scripts.js"></script>
	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
    <script src="../js/twitter.js"></script>
    <script src="../js/facebook.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>

    <script src="../js/jquery.validate.js"></script>
    <script src="../js/tooltipster.js"></script>

	   <script>

        function validateEmail(email) { 
          // http://stackoverflow.com/a/46181/11236
          
            var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(email);
        }

         function checkForm(form){
            if(this.firstName.value == "") {
              alert("Please enter your First Name");
              this.firstName.focus();
              return false;
            }
            if(this.lastName.value == "") {
              alert("Please enter your Last Name");
              this.lastName.focus();
              return false;
            }
            if( !(validateEmail(this.email.value)) ) {
              alert("Please enter a valid Email address");
              this.email.focus();
              return false;
            }
            if(this.address1.value == "") {
              alert("Please enter your Address");
              this.address1.focus();
              return false;
            }
            if(this.city.value == "") {
              alert("Please enter your City");
              this.city.focus();
              return false;
            }
            if(this.state.value == "") {
              alert("Please enter your State");
              this.state.focus();
              return false;
            }
            if(this.zip.value == "") {
              alert("Please enter your Zip");
              this.zip.focus();
              return false;
            }
            // alert("Success!  The form has been completed, validated and is ready to be submitted...");
            return true;
        }

        function submitTwoForms(){
            // $("#form1").validate();
            $.ajax({
                url: "/sendShipping",
                data: $("#form1").serialize(), // serializes the form's elements.
                type: "POST",
                success: function(){
                    document.getElementById('form2').submit();
                }
            })
            return false;
            
        }

        function sendForms(){
            if(checkForm(document.getElementById('form1'))){
                submitTwoForms();
            }
        }

        // $(document).ready(function () {
        //     $('#form1 input[type="text"]').tooltipster({
        //         trigger:'custom',
        //         onlyOne: false,
        //         position: 'right'
        //     });
        //     $('#form1').validate({
        //        errorPlacement: function (error, element) {
        //             $(element).tooltipster('update', $(error).text());
        //             $(element).tooltipster('show'); 
        //         },
        //         success: function (label, element){
        //             $(element).tooltipster('hide');
        //         },
        //         rules:{
        //             firstName: {
        //                 required: true,
        //              },
        //             lastName:{
        //                 required: true,
        //              },
        //              email:{
        //                 required: true,
        //                 email: true
        //              },
        //              address1:{
        //                 required: true,
        //              },
        //              city:{
        //                 required: true,
        //              },
        //              state:{
        //                 required: true,
        //              },
        //              zip:{
        //                 required: true,
        //              } 
        //         },
        //         submitHandler: function(form){
        //             $.ajax({
        //                 url: "/sendShipping",
        //                 data: $("#form1").serialize(), // serializes the form's elements.
        //                 type: "POST",
        //                 success: function(){
        //                     document.getElementById('form2').submit();
        //             }
        //         })
        //             return false;
        //         }

        //     });
        // });


     $(document).ready(function () {

     $("#form1").validate({
         ignore: ":hidden",
         rules: {
             firstName: {
                 required: true,
             },
             lastName:{
                required: true,
             },
             email:{
                required: true,
                email: true
             },
             address1:{
                required: true,
             },
             city:{
                required: true,
             },
             state:{
                required: true,
             },
             zip:{
                required: true,
             }
         },
         submitHandler: function (form) {
            $.ajax({
                url: "/sendShipping",
                data: $("#form1").serialize(), // serializes the form's elements.
                type: "POST",
                success: function(){
                    document.getElementById('form2').submit();
                }
            })
            return false;
         }
     });

 });
    </script>

	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="mainController">

<section id="wrapper">

<header>
    <div id="logo"><img src="../img/logo.png" /></div><!--end of logo-->
    <div id="title"><h1><%= title %></h1></div><!--end of title-->
</header>
<nav id="nav"><% include nav %></nav>

    <img src="my-image.png" class="tooltip" title="This is my image's tooltip message!" />

    <div id="form_container">
    
        <h1>Shipping</h1>
        <form id="form1" action="/sendShipping" method="POST">
                    <div class="form_description">
            
        </div>                      
            <ul >

        <li id="li_0" >
            <label class="description" for="Product">Order </label>
            <span>
                <input disabled id="productName" name= "productName" class="element text" maxlength="255" size="8" value="<%= product.name %>"/>
                <label>Product</label>
            </span>
            <span>
                <input disabled id="productPrice" name= "productPrice" class="element text" maxlength="255" size="14" value="<%= product.price %>"/>
                <label>Price</label>
            </span> 
        </li>                
            
        <li id="li_1" >
            <label class="description" for="Name">Name </label>
            <span>
                <input id="firstName" name= "firstName" class="element text" type="text" maxlength="255" size="8" ng-model="first_name"/>
                <label>First</label>
            </span>
            <span>
                <input id="lastName" name= "lastName" class="element text" type="text" maxlength="255" size="14" ng-model="last_name"/>
                <label>Last</label>
            </span> 
            <span>
                <input id="email" name= "email" class="element text" maxlength="255" size="14" ng-model="email"/>
                <label>email</label>
            </span> 
        </li>      
         <li id="li_2" >
            <label class="description" for="Address">Address </label>
            
            <div>
                <input id="address1" name="address1" class="element text large" ng-model="address1" type="text">
                <label for="address1">Street Address</label>
            </div>
        
            <div>
                <input id="address2" name="address2" class="element text large" ng-model="address2" type="text">
                <label for="address2">Address Line 2</label>
            </div>
        
            <div class="left">
                <input id="city" name="city" class="element text medium" ng-model="city" type="text">
                <label for="city">City</label>
            </div>
        
            <div class="right">
                <select class="element select medium" id="state" name="state" ng-model="data.state"> 
                <option value="" selected="selected"></option>
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
        
                </select>
            <label for="state">State</label>
            </div> 
        
            <div class="left">
                <input id="zip" name="zip" class="element text medium" maxlength="15" ng-model="zip" >
                <label for="zip">Postal / Zip Code</label>
            </div>
    
        
        </li>       
        
        <input type="hidden" id="id" name="id" value = <%= product._id %> >
        <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="PayPal - The safer, easier way to pay online">
                <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
       
            </ul>
        </form> 


	<section id="content">

    <div id = "paypal">
    <form id="form2" action="https://www.paypal.com/cgi-bin/webscr" method="post">

                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business" value="griblake@gmail.com">

                <!-- Specify a Buy Now button. -->
                <input type="hidden" name="cmd" value="_xclick">

                <!-- Specify details about the item that buyers purchase. -->
                <input type="hidden" name="item_name" value="<%= product.name %>">
                <input type="hidden" name="amount" value="<%= product.price %>">
                <input type="hidden" name="currency_code" value="USD">
                <input type="hidden" name="tax_rate" value="8.875">
                <input type="hidden" name="shipping" value="7.99">
                <!--fill out form-->
                <input type="hidden" name="first_name" value="{{first_name}}">
                <input type="hidden" name="last_name" value="{{last_name}}">
                <input type="hidden" name="address1" value="{{address1}}">
                <input type="hidden" name="address2" value="{{address2}}">
                <input type="hidden" name="city" value="{{city}}">
                <input type="hidden" name="state" value="{{data.state}}">
                <input type="hidden" name="zip"value="{{zip}}">
                <input type="hidden" name="email"value="{{email}}">
 
                <!-- Display the payment button. -->
              

         </form>
<!-- 
           <input onclick="sendForms()" type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
                alt="PayPal - The safer, easier way to pay online">
                <img alt="" border="0" width="1" height="1"
                src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" > -->
    </div>

<span id="message"></span>
</div>
</div>




<footer>
	<!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
</div>
</div><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
