<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/navigation.css" rel="stylesheet" type="text/css"> 
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->


	<script src="../js/simpleCart.js" type="text/javascript" charset="utf-8"></script>
	

	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
	<script src="../js/facebook.js"></script>



	<script type="text/javascript">
		simpleCart = new cart("griblake@gmail.com");
	</script>

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<style type="text/css">
		.cartHeaders, .totalRow{display: none;}
	</style>
</head>
<body ng-controller="mainController">

<section id="wrapper">

<header>
<div id="logo"><img src="../img/logo.png" /></div><!--end of logo-->
<div id="title"><h1><%= title %></h1></div><!--end of title-->
<!-- <div id="login">
	<% if(userFullName) { %>
	<h2>Log In Works, <%=userFullName%></h2>
	<a href="/signout">Sign Out</a>
	<%} else{%>
	<a href="/signup" class="signs">Sign Up</a>
	<a href="/signin" class="signs">Sign In</a>
	<%}%>
</div> --><!--end of login-->
</header>
<nav><% include nav %></nav>

<section id="content">

<div id="productItem">

	<ul id="catalog">
				
		<li>
			<div class="the_name"><h4>Name: <%= product.name %></h4></div>
			<div class="the_photo"><img src="../<%=product.photo%>" alt="<%= product.name %>" /></div>
			<div class="price"><h4>Price: $<%= product.price %></h4></div>
			<h4><a href="#" onclick="simpleCart.add('name=<%= product.name %>','price=<%=product.price %>','image=../<%=product.photo%>');return false;"> add to cart</a></h4>
		</li>
	</ul>

	<div id="sidebar" class="checking">
				<h3>Your Cart</h3>
				
				
				<!--Add a Div with the class "simpleCart_items" to show your shopping cart area.-->
				<div class="simpleCart_items" >
				</div>
				
				
				<!--Here's the Links to Checkout and Empty Cart-->
				<div class="empty"><a href="#" class="simpleCart_empty">Empty Cart</a></div>
				<div class="checkout"><a href="/cart">Checkout</a></div>
				<h1> show this "<%= product.id %>" </h1>
				<div class="reserve"><a href="/reserve/p?p=<%= product.id %>">Order</a></div>
				<!-- off for now -->
				<!--
				<div class="checkout"><a href="#" class="simpleCart_checkout">Checkout</a></div>
				
				
			</div>
	</div><!--end of productItem-->

</section><!--end of content-->
<footer>
	<!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
</div>
</div><!--end of skype-->
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
