<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="griffinaProduct">
<head>
<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->
	<link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
	<title>The Victoria Blake Collection</title>

	<!-- SCROLLS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
	<link href="../css/boilerplate.css" rel="stylesheet" type="text/css">
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<link href="../css/navigation.css" rel="stylesheet" type="text/css"> 
	<!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->

	<!-- SPELLS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->

	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script src="../js/simpleCart.js" type="text/javascript" charset="utf-8"></script>
	

	<script type="text/javascript" src="application.js"></script>
	<!--<script type="text/javascript" src="/lib/angular/angular.js"></script>-->
	<script src="../js/respond.min.js"></script>

	<script src="../js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="../js/services/products.js"></script> <!-- load our product service -->
	<script src="../js/core.js"></script> <!-- load our main application -->
	<script src="../js/twitter.js"></script>
	<script src="../js/facebook.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>



	<script type="text/javascript">
		simpleCart = new cart("griblake@gmail.com");
	</script>

	<!--google fonts-->
	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<style type="text/css">
		.cartHeaders, .totalRow{display: none;}
	</style>


	<script>

		function submitTwoForms(){
			console.log("clicked")
			 var dataObject = {
			 	'id'	: document.querySelectorAll('input[type=text]')[0].value
			 };
			$.ajax({
				url: "/lock",
				data: dataObject,
				type: "POST",
				success: function(){
					$("form1").submit
				}
			})
			return false;
			
		}
		// function reduce() {
		// 	$.post( "ajax/test.html", function( data ) {
  // 				$( ".result" ).html( data );
		// 	});
		//     document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
		// }
		function sendForms(){
			// $('#form2').submit(function(){
				submitTwoForms();
				// return false;
			// });
			// var file    = document.querySelectorAll('input[type=text]')[1].value;
			// console.log(document.querySelectorAll('input[type=text]')[0].value)
			// console.log(file)
			// var form = document.getElementById("form");

			// console.log("Clicked")
			// form.submit();
		}
	</script>


</head>
<body ng-controller="mainController">

<section id="wrapper">

<header>
<div id="logo"><img src="../img/logo.png" /></div><!--end of logo-->
<div id="title"><h1><%= title %></h1></div><!--end of title-->
<!-- <div id="login">
	<% if(userFullName) { %>
	<h2>Log In Works, <%=userFullName%></h2>
	<a href="/signout">Sign Out</a>
	<%} else{%>
	<a href="/signup" class="signs">Sign Up</a>
	<a href="/signin" class="signs">Sign In</a>
	<%}%>
</div> --><!--end of login-->
</header>
<nav id="nav"><% include nav %></nav>


<section id="content">

<div id="productItem">

	<ul id="catalog">
				
		<li>
			<div class="the_name"><h4>Name: <%= product.name %></h4></div>
			<!-- <div class="the_photo"><img src="../<%=product.photo%>" alt="<%= product.name %>" /></div> -->
			<div class="the_photo"><img src="<%=product.photo%>" alt="<%= product.name %>" /></div>
			<!-- <p>side</p> -->
			<div><h4><%= product.text %></h4></div>

			<div class="price"><h4>Price: $<%= product.price %></h4></div>
			<div class="reserve"><a href="/reserve/p?p=<%= product.id %>">Order</a></div>






       <form id="form1" action="/lock" method="POST">

       <div class="form-group">
          <input type="text" name="id" class="form-control input-lg text-center" value = <%= product._id %> >

          <input type="text" name="lock" class="form-control input-lg text-center" value=<%= product.available%> >
          </div>
          <!-- <button id ="form-submit" type="submit" class="btn btn-primary btn-lg" value="lock" id="lock">Update</button> -->

        </form>



			
			<form id="form2" onclick="sendForms()" action="https://www.paypal.com/cgi-bin/webscr" method="post">

				<!-- Identify your business so that you can collect the payments. -->
				<input type="hidden" name="business" value="griblake@gmail.com">

				<!-- Specify a Buy Now button. -->
				<input type="hidden" name="cmd" value="_xclick">

				<!-- Specify details about the item that buyers purchase. -->
				<input type="hidden" name="item_name" value="<%= product.name %>">
				<input type="hidden" name="amount" value="<%= product.price %>">
				<input type="hidden" name="currency_code" value="USD">

				<!--fill out form-->
				<input type="hidden" name="first_name" value="John">
				<input type="hidden" name="last_name" value="Doe">
				<input type="hidden" name="address1" value="9 Elm Street">
				<input type="hidden" name="address2" value="Apt 5">
				<input type="hidden" name="city" value="Berwyn">
				<input type="hidden" name="state" value="PA">
				<input type="hidden" name="zip" value="19312">
				<input type="hidden" name="night_phone_a" value="610">
				<input type="hidden" name="night_phone_b" value="555">
				<input type="hidden" name="night_phone_c" value="1234">


				<!-- Display the payment button. -->
				<input type="image" name="submit" border="0"
				src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
				alt="PayPal - The safer, easier way to pay online">
				<img alt="" border="0" width="1" height="1"
				src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >

		 </form>

			

			<!-- <h4> <a href="#" onclick="simpleCart.add('name=<%= product.name %>','price=<%=product.price %>');return false;"> add to cart</a>  
			<div class="reserve"><a href="/reserve/p?p=<%= product.id %>">Order</a></div>
			</h4>-->
		</li>
	</ul>

<!-- 	<div id="sidebar" class="checking">




				<h3>Your Cart</h3>
				
				
				<div class="simpleCart_items" ></div> 
				
				
				<div class="empty"><a href="#" class="simpleCart_empty">Empty Cart</a></div>

				<div class="checkout"><a href="/cart">Checkout</a></div>

				<div class="reserve"><a href="/reserve/p?p=<%= product.id %>">Order</a></div>
				
				<div class="checkout"><a href="#" class="simpleCart_checkout">Checkout</a></div> 
				
				
	</div>  -->
	</div>
	<!--end of productItem

</section><!--end of content-->
<footer>
	<!-- <div id="copyRight"><p>&copy;Copyright</p></div> -->
    <div id ="twitter">
    <a class="twitter-follow-button"
        href="https://twitter.com/seeuniqueness">
        Follow @Griffina blake</a>
    </div>
    <div id="facebook">
      <div class="fb-like" data-href="https://www.facebook.com/VictoriaBlakeFashionDesigns" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
</div>
</footer><!--end of footer-->
</section><!--end of wrapper-->
</body>
</html>
